.div1{
	overflow: hidden;
	align-self: center;
	width: 100%;
	margin-left: 200px;
	margin-top: 100px;
	height: 60%;
}
.div1 > div {
	height: 250px;
	width: 200px;
	float: left;
	background-color: #404040;
	margin-right: 20px;
	border:2px lightgrey ;
}
h4{
	text-align: center;
	color: white;
	margin-top: 110px;
}
p{
	color: lightgrey;
	margin-left: 210px;
	margin-right: 300px;
}
